@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-weight: 400;
    color: #cdcdcd;
}

body {
    background-color: rgb(73, 100, 74);
    font-family: "Roboto";
}

#game-wrap {
    max-width: 600px;
    margin: auto;
}

#main-header {
    font-family: 'Montserrat';
    padding: 30px 20px;
    text-align: center;
    font-weight: 900;
    font-size: 2.5rem;
}

/* #player-header {
    color:rgb(73, 100, 74);
    background-color: #cdcdcd;
    padding: 10px 0 10px 7px;
    font-size: 1.5rem;
    font-weight: 700;
} */

#player-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0;
}

.items {
    width: 180px;
    height: 180px;
    border: 3px solid #cdcdcd;
    line-height: 180px;
    text-align: center;
    font-size: 4rem;
}

#player-header,
#computer-selection {
    background-color: #cdcdcd;
    color:rgb(73, 100, 74);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0 10px 7px;
}

#outcome {
    border: 3px solid #cdcdcd;
    height: 200px;
    margin-top: 30px;
    text-align: center;
    line-height: 200px;
    font-weight: 700;
    font-size: 3rem;
    color: #cdcdcd;
}

@media (max-width: 500px) {
    #game-wrap {
        margin: 0 10px;
    }

    #main-header {
        font-size: 1.5rem;
        padding: 10px 0 10px 7px;
    }

    #player-header,
    #computer-selection {
        font-size: 1.3rem;
    }

    #player-selection {
        padding: 15px 0;
    }
    
    .items {
        font-size: 2rem;
        width: 90px;
        height: 90px;
        line-height: 90px;
    }

    #outcome {
        height: 130px;
        line-height: 130px;
        font-size: 2.2rem;
        margin-top: 15px;
    }
}